.App {
  background: linear-gradient(135deg, #000428, #004e92);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 35s ease infinite;
  animation: Gradient 28s ease infinite;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
@-webkit-keyframes Gradient {
  0%{background-position:0% 30%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}

}
@keyframes Gradient {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}

.social-links {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 30px; 
  height: 30px;
}

