.App {
  background: linear-gradient(135deg, #000428, #004e92);
  background-size: 500% 500%;
  -webkit-animation: AnimationName 35s ease infinite;
  animation: Gradient 28s ease infinite;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}
@-webkit-keyframes Gradient {
  0%{background-position:0% 30%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}

}
@keyframes Gradient {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}


a, a:visited, a:hover, a:active {
  color: inherit;
}

/* NAVBAR */

.navbar-wrapper {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  
}

.social-wrapper {
  display: flex;
  padding: 40px;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .social-wrapper {
   display: none;
  }

}

.hamburger {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 50px;
  margin: 30px 30px 0 0;

}


@media screen and (min-width: 701px) {
  .hamburger {
    display: none;
  }
}


.social-div {
  background-color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}


.social-icon {
  width: 30px; 
  height: 30px;
  
}

svg:hover {
  transform: scale(1.1);
}



/* IMAGE SLIDER */

.image-wrapper {
  background-color: white;
  height: 500px;
  width: 100%;
  margin-top: 50px;
  opacity: .4;
}